/*Style Sheet! */

body{
    background-color: cornflowerblue;
}

#wrapper{
    background-color:white;
    margin: auto;
    width: 1000px;
    height:500px;
    border-radius:36px;
    padding: 20px;
}

#wrapperTitle{
    margin:auto;   
    text-align: center;
}

#birdPic{
    margin:15px 0px 0px 100px;
    width:800px;
    height:420px;
    border-radius: 30px;
}